openapi: 3.0.3
info:
  title: TikMarket API
  version: 1.0.0
  description: >
    Bu API, TikMarket giyim, takı ve aksesuar platformu için tasarlanmış bir RESTful servistir.
    Ürün yönetimi, kullanıcı kimlik doğrulaması, alışveriş sepeti, adres yönetimi ve
    yönetici paneli işlemlerini destekler. API, JWT tabanlı kimlik doğrulama ile korunmaktadır.
  contact:
    name: ByTech
    email: berennyilmaz03@gmail.com

servers:
  - url: https://api.tikmarket.com
    description: Üretim sunucusu (Production)
  - url: https://staging-api.tikmarket.com
    description: Test sunucusu (Staging)
  - url: https://localhost:3000
    description: Yerel geliştirme sunucusu (Development)

tags:
  - name: Kimlik Doğrulama
    description: Kullanıcı giriş ve kayıt işlemleri
  - name: Ürünler
    description: Ürün ekleme, görüntüleme, güncelleme ve silme işlemleri
  - name: Sepet
    description: Alışveriş sepeti yönetimi işlemleri
  - name: Kullanıcılar
    description: Kullanıcı adres yönetimi işlemleri
  - name: Admin
    description: Yönetici paneli işlemleri

security:
  - BearerAuth: []

paths:

  # ──────────────────────────────────────────────
  # KİMLİK DOĞRULAMA
  # ──────────────────────────────────────────────

  /api/auth/login:
    post:
      tags:
        - Kimlik Doğrulama
      summary: Giriş Yap
      operationId: loginUser
      security: []
      description: Kayıtlı kullanıcıların e-posta ve şifreleriyle sisteme giriş yaparak güvenli oturum açmalarını sağlar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
      responses:
        "200":
          description: Giriş başarılı, JWT token döndürüldü
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        "400":
          description: Geçersiz istek verisi (eksik alan vb.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: E-posta veya şifre hatalı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/register:
    post:
      tags:
        - Kimlik Doğrulama
      summary: Kayıt Ol
      operationId: registerUser
      security: []
      description: Yeni kullanıcıların sisteme hesap oluşturarak dahil olmasını sağlar. Kişisel kayıt bilgilerinin toplanmasını içerir.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        "201":
          description: Kullanıcı başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        "400":
          description: Geçersiz istek verisi (eksik alan, zayıf şifre vb.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Bu e-posta adresi zaten kayıtlı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # ÜRÜNLER
  # ──────────────────────────────────────────────

  /api/products:
    post:
      tags:
        - Ürünler
      summary: Ürün Ekle
      operationId: addProduct
      description: TikMarket sistemine yeni giyim, takı ve aksesuar ürünlerinin eklenmesini sağlar. Ürün bilgilerinin ve stok verilerinin kaydedilmesini içerir.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        "201":
          description: Ürün başarıyla eklendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/products/{productId}:
    parameters:
      - name: productId
        in: path
        required: true
        description: Ürünün benzersiz kimlik numarası
        schema:
          type: string
        example: "prod_001"

    get:
      tags:
        - Ürünler
      summary: Ürün Görüntüle
      operationId: getProduct
      description: Ürünlerin detaylı bilgilerinin, fiyatlarının ve görsellerinin kullanıcılar tarafından incelenmesini sağlar.
      responses:
        "200":
          description: Ürün başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Ürün bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Ürünler
      summary: Ürün Güncelle
      operationId: updateProduct
      description: Mevcut ürünlerin fiyat, açıklama ve kategori gibi bilgilerinin güncellenmesini sağlar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        "200":
          description: Ürün başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Ürün bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Ürünler
      summary: Ürün Sil
      operationId: deleteProduct
      description: Belirli bir ürünün sistemden kalıcı olarak silinmesini sağlar. Bu işlemden sonra ürün platformda görüntülenemez.
      responses:
        "204":
          description: Ürün başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Ürün bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # SEPET
  # ──────────────────────────────────────────────

  /api/cart:
    get:
      tags:
        - Sepet
      summary: Sepeti Görüntüle
      operationId: getCart
      description: Kullanıcının sepetine eklediği ürünlerin listesini ve ödenecek toplam tutarı gösterir.
      responses:
        "200":
          description: Sepet başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/cart/items:
    post:
      tags:
        - Sepet
      summary: Sepete Ürün Ekle
      operationId: addCartItem
      description: Kullanıcıların beğendikleri ürünleri satın almak üzere kişisel alışveriş sepetlerine eklemelerine olanak tanır.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemInput'
      responses:
        "201":
          description: Ürün sepete başarıyla eklendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        "400":
          description: Geçersiz istek verisi (stok yetersiz vb.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Ürün bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/cart/items/{itemId}:
    parameters:
      - name: itemId
        in: path
        required: true
        description: Sepet öğesinin benzersiz kimlik numarası
        schema:
          type: string
        example: "item_789"

    put:
      tags:
        - Sepet
      summary: Sepeti Güncelle
      operationId: updateCartItem
      description: Sepetteki ürünlerin adet miktarının artırılması veya azaltılması işlemlerini gerçekleştirir.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemUpdateInput'
      responses:
        "200":
          description: Sepet öğesi başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        "400":
          description: Geçersiz istek verisi (stok yetersiz vb.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Sepet öğesi bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Sepet
      summary: Sepetten Ürün Sil
      operationId: removeCartItem
      description: Kullanıcının sepetinden çıkarmak istediği ürünlerin temizlenmesini ve sepet tutarının güncellenmesini sağlar.
      responses:
        "204":
          description: Ürün sepetten başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Sepet öğesi bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # KULLANICLAR - ADRES YÖNETİMİ
  # ──────────────────────────────────────────────

  /api/users/addresses:
    post:
      tags:
        - Kullanıcılar
      summary: Adres Ekle
      operationId: addAddress
      description: Kullanıcının sipariş teslimatları için yeni adres bilgilerini profiline kaydetmesini sağlar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
      responses:
        "201":
          description: Adres başarıyla eklendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/users/addresses/{addressId}:
    parameters:
      - name: addressId
        in: path
        required: true
        description: Adresin benzersiz kimlik numarası
        schema:
          type: string
        example: "addr_321"

    delete:
      tags:
        - Kullanıcılar
      summary: Adres Sil
      operationId: deleteAddress
      description: Kullanıcının artık kullanmadığı kayıtlı adreslerini sistemden kaldırmasına imkan tanır.
      responses:
        "204":
          description: Adres başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Adres bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ──────────────────────────────────────────────
  # ADMİN PANELİ
  # ──────────────────────────────────────────────

  /api/admin/dashboard:
    get:
      tags:
        - Admin
      summary: Admin Paneli
      operationId: getAdminDashboard
      description: Sadece yöneticilerin erişebildiği, satış verilerinin ve genel sistem durumunun izlendiği yönetim merkezidir.
      responses:
        "200":
          description: Admin panel verileri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboard'
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu alana yalnızca yöneticiler erişebilir
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# ──────────────────────────────────────────────
# COMPONENTS
# ──────────────────────────────────────────────

components:
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'JWT tabanlı kimlik doğrulama. İstek başlığına "Authorization: Bearer <token>" eklenmeli.'

  schemas:

    # ── KİMLİK DOĞRULAMA ──

    LoginInput:
      type: object
      description: Kullanıcı giriş isteği için gönderilecek veri
      properties:
        email:
          type: string
          format: email
          description: Kullanıcının kayıtlı e-posta adresi
          example: "kullanici@example.com"
        password:
          type: string
          format: password
          description: Kullanıcının şifresi
          minLength: 6
          example: "Sifre123!"
      required:
        - email
        - password

    RegisterInput:
      type: object
      description: Yeni kullanıcı kayıt isteği için gönderilecek veri
      properties:
        name:
          type: string
          description: Kullanıcının adı ve soyadı
          minLength: 2
          maxLength: 100
          example: "Ayşe Kaya"
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi (benzersiz olmalı)
          example: "kullanici@example.com"
        password:
          type: string
          format: password
          description: Kullanıcının şifresi
          minLength: 6
          example: "Sifre123!"
        phone:
          type: string
          description: Kullanıcının telefon numarası
          example: "05321234567"
      required:
        - name
        - email
        - password

    AuthResponse:
      type: object
      description: Başarılı giriş veya kayıt sonrası döndürülen kimlik doğrulama yanıtı
      properties:
        token:
          type: string
          description: JWT kimlik doğrulama token'ı
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          $ref: '#/components/schemas/User'
      required:
        - token
        - user

    User:
      type: object
      description: Kullanıcı bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Kullanıcının benzersiz kimlik numarası (otomatik atanır)
          example: "usr_001"
        name:
          type: string
          description: Kullanıcının adı ve soyadı
          example: "Ayşe Kaya"
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi
          example: "kullanici@example.com"
        phone:
          type: string
          description: Kullanıcının telefon numarası
          example: "05321234567"
        role:
          type: string
          description: Kullanıcının sistem rolü
          enum: [user, admin]
          example: "user"
        createdAt:
          type: string
          format: date-time
          description: Hesabın oluşturulma tarihi (ISO 8601)
          example: "2026-01-15T10:00:00Z"
      required:
        - name
        - email

    # ── ÜRÜNLER ──

    Product:
      type: object
      description: Ürün bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Ürünün benzersiz kimlik numarası (otomatik atanır)
          example: "prod_001"
        name:
          type: string
          description: Ürün adı
          example: "Vintage Kolyesi"
        description:
          type: string
          description: Ürünün detaylı açıklaması
          example: "El yapımı gümüş kaplama vintage kolye, özel tasarım."
        price:
          type: number
          format: float
          description: Ürünün fiyatı (TL)
          minimum: 0
          example: 249.99
        category:
          type: string
          description: Ürünün kategorisi
          enum: [giyim, taki, aksesuar]
          example: "taki"
        stock:
          type: integer
          description: Mevcut stok adedi
          minimum: 0
          example: 50
        images:
          type: array
          description: Ürün görsel URL listesi
          items:
            type: string
            format: uri
          example: ["https://cdn.tikmarket.com/prod_001_1.jpg"]
        createdAt:
          type: string
          format: date-time
          description: Ürünün eklenme tarihi (ISO 8601)
          example: "2026-02-01T09:00:00Z"
      required:
        - name
        - price
        - category
        - stock

    ProductInput:
      type: object
      description: Ürün oluşturma veya güncelleme isteği için gönderilecek veri
      properties:
        name:
          type: string
          description: Ürün adı
          minLength: 2
          maxLength: 150
          example: "Vintage Kolyesi"
        description:
          type: string
          description: Ürünün detaylı açıklaması
          maxLength: 1000
          example: "El yapımı gümüş kaplama vintage kolye, özel tasarım."
        price:
          type: number
          format: float
          description: Ürünün fiyatı (TL)
          minimum: 0
          example: 249.99
        category:
          type: string
          description: Ürünün kategorisi
          enum: [giyim, taki, aksesuar]
          example: "taki"
        stock:
          type: integer
          description: Stok adedi
          minimum: 0
          example: 50
        images:
          type: array
          description: Ürün görsel URL listesi
          items:
            type: string
            format: uri
          example: ["https://cdn.tikmarket.com/prod_001_1.jpg"]
      required:
        - name
        - price
        - category
        - stock

    # ── SEPET ──

    Cart:
      type: object
      description: Kullanıcının alışveriş sepetini temsil eden model
      properties:
        _id:
          type: string
          description: Sepetin benzersiz kimlik numarası
          example: "cart_111"
        userId:
          type: string
          description: Sepetin ait olduğu kullanıcının kimlik numarası
          example: "usr_001"
        items:
          type: array
          description: Sepetteki ürünlerin listesi
          items:
            $ref: '#/components/schemas/CartItem'
        totalPrice:
          type: number
          format: float
          description: Sepetin toplam tutarı (TL)
          example: 749.97
        updatedAt:
          type: string
          format: date-time
          description: Sepetin son güncellenme tarihi (ISO 8601)
          example: "2026-03-01T12:00:00Z"
      required:
        - userId
        - items
        - totalPrice

    CartItem:
      type: object
      description: Sepetteki tek bir ürün öğesini temsil eden model
      properties:
        _id:
          type: string
          description: Sepet öğesinin benzersiz kimlik numarası
          example: "item_789"
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: integer
          description: Ürünün sepetteki adedi
          minimum: 1
          example: 3
        subtotal:
          type: number
          format: float
          description: Bu öğenin ara toplamı (fiyat × adet, TL)
          example: 749.97
      required:
        - product
        - quantity

    CartItemInput:
      type: object
      description: Sepete ürün ekleme isteği için gönderilecek veri
      properties:
        productId:
          type: string
          description: Sepete eklenecek ürünün kimlik numarası
          example: "prod_001"
        quantity:
          type: integer
          description: Eklenecek ürün adedi
          minimum: 1
          default: 1
          example: 2
      required:
        - productId
        - quantity

    CartItemUpdateInput:
      type: object
      description: Sepet öğesi güncelleme isteği için gönderilecek veri
      properties:
        quantity:
          type: integer
          description: Güncellenecek ürün adedi
          minimum: 1
          example: 5
      required:
        - quantity

    # ── ADRES ──

    Address:
      type: object
      description: Kullanıcı adres bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Adresin benzersiz kimlik numarası (otomatik atanır)
          example: "addr_321"
        title:
          type: string
          description: Adres başlığı (Ev, İş vb.)
          example: "Ev"
        fullName:
          type: string
          description: Teslimat alıcısının adı soyadı
          example: "Ayşe Kaya"
        phone:
          type: string
          description: Teslimat için iletişim telefon numarası
          example: "05321234567"
        city:
          type: string
          description: Şehir
          example: "Antalya"
        district:
          type: string
          description: İlçe
          example: "Muratpaşa"
        addressLine:
          type: string
          description: Açık adres (sokak, mahalle, kapı no vb.)
          example: "Atatürk Cad. No:5 D:3, Meltem Mah."
        postalCode:
          type: string
          description: Posta kodu
          example: "07100"
      required:
        - title
        - fullName
        - phone
        - city
        - district
        - addressLine

    AddressInput:
      type: object
      description: Adres ekleme isteği için gönderilecek veri
      properties:
        title:
          type: string
          description: Adres başlığı (Ev, İş vb.)
          minLength: 1
          maxLength: 50
          example: "Ev"
        fullName:
          type: string
          description: Teslimat alıcısının adı soyadı
          minLength: 2
          maxLength: 100
          example: "Ayşe Kaya"
        phone:
          type: string
          description: Teslimat için iletişim telefon numarası
          example: "05321234567"
        city:
          type: string
          description: Şehir
          example: "Antalya"
        district:
          type: string
          description: İlçe
          example: "Muratpaşa"
        addressLine:
          type: string
          description: Açık adres
          minLength: 10
          example: "Atatürk Cad. No:5 D:3, Meltem Mah."
        postalCode:
          type: string
          description: Posta kodu
          example: "07100"
      required:
        - title
        - fullName
        - phone
        - city
        - district
        - addressLine

    # ── ADMİN PANELİ ──

    AdminDashboard:
      type: object
      description: Yönetici panel özet verilerini temsil eden model
      properties:
        totalSales:
          type: number
          format: float
          description: Toplam satış tutarı (TL)
          example: 125430.50
        totalOrders:
          type: integer
          description: Toplam sipariş sayısı
          example: 842
        totalUsers:
          type: integer
          description: Toplam kayıtlı kullanıcı sayısı
          example: 1530
        totalProducts:
          type: integer
          description: Platformdaki toplam ürün sayısı
          example: 320
        lowStockProducts:
          type: integer
          description: Düşük stoklu ürün sayısı (stok < 5)
          example: 12
        recentOrders:
          type: array
          description: Son 5 siparişin özeti
          items:
            type: object
            properties:
              orderId:
                type: string
                example: "ord_999"
              userId:
                type: string
                example: "usr_001"
              totalPrice:
                type: number
                format: float
                example: 499.99
              status:
                type: string
                enum: [pending, processing, shipped, delivered, cancelled]
                example: "processing"
              createdAt:
                type: string
                format: date-time
                example: "2026-03-06T18:45:00Z"
      required:
        - totalSales
        - totalOrders
        - totalUsers
        - totalProducts

    # ── HATA ──

    Error:
      type: object
      description: Hata durumlarında döndürülen standart hata yanıtı
      properties:
        message:
          type: string
          description: Hatayı açıklayan mesaj
          example: "Ürün bulunamadı"
      required:
        - message